<% if logged_in? %>
  <h4>Boards</h4>

  <ul>
    <li><%= link_to 'New board', new_board_path %></li>
    <% current_user.boards.each do |board| %>
      <li><%= link_to board.name, board_path(board) %></li>
    <% end %>
  </ul>
<% end %>
