%h1 My Trello

%p Hello, #{@user.username},

%p Welcome to My Trello! Click on the link below to activate your account:

%p= link_to 'Activate', edit_account_activation_url(@user.activation_token, email: @user.email)
