---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_19OpmbFgeUvs3GmuhFrwq1mc
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_19OpmbFgeUvs3GmuhFrwq1mc",
          "object": "event",
          "api_version": "2016-07-06",
          "created": 1481295333,
          "data": {
            "object": {
              "id": "ch_19OpmbFgeUvs3GmuE4X3Dbnt",
              "object": "charge",
              "amount": 299,
              "amount_refunded": 0,
              "application": null,
              "application_fee": null,
              "balance_transaction": null,
              "captured": false,
              "created": 1481295333,
              "currency": "usd",
              "customer": "cus_9hylQXbEozYBLk",
              "description": null,
              "destination": null,
              "dispute": null,
              "failure_code": "card_declined",
              "failure_message": "Your card was declined.",
              "fraud_details": {},
              "invoice": null,
              "livemode": false,
              "metadata": {},
              "order": null,
              "outcome": {
                "network_status": "declined_by_network",
                "reason": "generic_decline",
                "risk_level": "normal",
                "seller_message": "The bank did not return any further details with this decline.",
                "type": "issuer_declined"
              },
              "paid": false,
              "receipt_email": null,
              "receipt_number": null,
              "refunded": false,
              "refunds": {
                "object": "list",
                "data": [],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/charges/ch_19OpmbFgeUvs3GmuE4X3Dbnt/refunds"
              },
              "review": null,
              "shipping": null,
              "source": {
                "id": "card_19OpmPFgeUvs3Gmu6qClTMff",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9hylQXbEozYBLk",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "JdFb5cdIk9LqsEmo",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              },
              "source_transfer": null,
              "statement_descriptor": "my trello plus monthly",
              "status": "failed"
            }
          },
          "livemode": false,
          "pending_webhooks": 0,
          "request": "req_9iGJlOgPJc0Txw",
          "type": "charge.failed"
        }
  recorded_at: Fri, 09 Dec 2016 15:07:40 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9hylQXbEozYBLk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9hylQXbEozYBLk",
          "object": "customer",
          "account_balance": 0,
          "created": 1481230075,
          "currency": "usd",
          "default_source": "card_19OpmPFgeUvs3Gmu6qClTMff",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "tyler@example.com",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19OpmPFgeUvs3Gmu6qClTMff",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9hylQXbEozYBLk",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2020,
                "fingerprint": "JdFb5cdIk9LqsEmo",
                "funding": "credit",
                "last4": "0341",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9hylQXbEozYBLk/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [
              {
                "id": "sub_9iGVTJBjnZbbhQ",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1481296060,
                "current_period_end": 1483974460,
                "current_period_start": 1481296060,
                "customer": "cus_9hylQXbEozYBLk",
                "discount": null,
                "ended_at": null,
                "livemode": false,
                "metadata": {},
                "plan": {
                  "id": "my_trello_basic",
                  "object": "plan",
                  "amount": 0,
                  "created": 1481203758,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "name": "My Trello Basic",
                  "statement_descriptor": null,
                  "trial_period_days": null
                },
                "quantity": 1,
                "start": 1481296060,
                "status": "active",
                "tax_percent": null,
                "trial_end": null,
                "trial_start": null
              },
              {
                "id": "sub_9iGU6BhYG3SppA",
                "object": "subscription",
                "application_fee_percent": null,
                "cancel_at_period_end": false,
                "canceled_at": null,
                "created": 1481296029,
                "current_period_end": 1483974429,
                "current_period_start": 1481296029,
                "customer": "cus_9hylQXbEozYBLk",
                "discount": null,
                "[...]
[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_9hylQXbEozYBLk&plan=my_trello_basic
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding:[...]
