---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=eugenia.koelpin%40leuschkemitchell.net
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9hx8pdH9RQsSOQ",
          "object": "customer",
          "account_balance": 0,
          "created": 1481224023,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "eugenia.koelpin@leuschkemitchell.net",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hx8pdH9RQsSOQ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hx8pdH9RQsSOQ/subscriptions"
          }
        }
  recorded_at: Thu, 08 Dec 2016 19:07:03 GMT
recorded_with: VCR 3.0.3
