<%= form_for(@board.board_memberships.build) do |f| %>
  <%= hidden_field_tag 'board_membership[board_id]', @board.id %>
  <div>
    <%= f.select(:user_id,
                 User.all.
                   reject { |u| @board.members.include? u }.
                   map { |u| [u.username, u.id] },
                 prompt: 'Add a member...') %>
  </div>

  <div>
    <%= f.submit 'Add' %>
  </div>
<% end %>
