---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19OCdzFgeUvs3GmuPJmw8TMA",
          "object": "token",
          "card": {
            "id": "card_19OCdzFgeUvs3GmuAhSqygXs",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "BKTw6Ixt61DE2nPW",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "173.10.171.149",
          "created": 1481144883,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Wed, 07 Dec 2016 21:08:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: source=tok_19OCdzFgeUvs3GmuPJmw8TMA&email=mina%40gusikowskiherman.io
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9hbr5Ou7I4y6GT",
          "object": "customer",
          "account_balance": 0,
          "created": 1481144884,
          "currency": null,
          "default_source": "card_19OCdzFgeUvs3GmuAhSqygXs",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "mina@gusikowskiherman.io",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19OCdzFgeUvs3GmuAhSqygXs",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_9hbr5Ou7I4y6GT",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 6,
                "exp_year": 2017,
                "fingerprint": "BKTw6Ixt61DE2nPW",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_9hbr5Ou7I4y6GT/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hbr5Ou7I4y6GT/subscriptions"
          }
        }
  recorded_at: Wed, 07 Dec 2016 21:08:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/subscriptions
    body:
      encoding: UTF-8
      string: customer=cus_9hbr5Ou7I4y6GT&plan=my_trello_plus_monthly
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_9hbrQcwXmgWTWs",
          "object": "subscription",
          "application_fee_percent": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "created": 1481144884,
          "current_period_end": 1483823284,
          "current_period_start": 1481144884,
          "customer": "cus_9hbr5Ou7I4y6GT",
          "discount": null,
          "ended_at": null,
          "livemode": false,
          "metadata": {},
          "plan": {
            "id": "my_trello_plus_monthly",
            "object": "plan",
            "amount": 299,
            "created": 1481042830,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "name": "My Trello - Plus Monthly",
            "statement_descriptor": "my trello plus monthly",
            "trial_period_days": null
          },
          "quantity": 1,
          "start": 1481144884,
          "status": "active",
          "tax_percent": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Wed, 07 Dec 2016 21:08:08 GMT
recorded_with: VCR 3.0.3
