<div class='board-header clearfix'>
  <h2>{{name}}</h2>
  <button class='menu-show btn btn-primary'>
    Show Menu
  </div>
</div>

<ul id='lists'>
</ul>

<div class="list new-list idle">
  Add a list...
  <form action="/lists" method="post" id="new-list-form">
    <div class="form-group">
      <input type="text" name="title" value="New List" class="form-control">
    </div>
    <div>
      <input type="submit" value="Add" class="btn btn-sm btn-primary">
      <a href="#" class="cancel-new-list">Cancel</a>
    </div>
  </form>
</div>
