<a href="#" class="delete">x</a>
<textarea>{{title}}</textarea>

<ul class="cards"></ul>

<div class="new-card-form">
  <form action="" method="post">
    <input type="text" name="title">
    <input type="submit" value="Add">
    <a href="#" class="cancel-new-card">Cancel</a>
  </form>
</div>

<div class="new-card">
  Add a card
</div>
