<button class="close delete"><span>&times;</span></button>
<textarea rows="1">{{title}}</textarea>

<ul class="cards"></ul>

<div class="new-card-form">
  <form action="" method="post">
    <div class="form-group">
      <input type="text" name="title" class="form-control">
    </div>
    <input type="submit" value="Add" class="btn btn-primary btn-sm">
    <a href="#" class="cancel-new-card">Cancel</a>
  </form>
</div>

<div class="new-card">
  Add a card
</div>
