.container
  .col-md-8.col-md-offset-2
    %h2 Users
    %table.table.table-striped
      %thead
        %tr
          %th ID
          %th Username
          %th Email
          %th Plan
      %tbody
        - @users.each do |user|
          %tr
            %td= user.id
            %td= user.username
            %td= user.email
            %td Basic
