---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=tyrel_marquardt%40grimes.org
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9hxY5WsYp3YeDQ",
          "object": "customer",
          "account_balance": 0,
          "created": 1481225586,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "tyrel_marquardt@grimes.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hxY5WsYp3YeDQ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hxY5WsYp3YeDQ/subscriptions"
          }
        }
  recorded_at: Thu, 08 Dec 2016 19:33:06 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2017&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_19OXdfFgeUvs3GmuYlECI1BI",
          "object": "token",
          "card": {
            "id": "card_19OXdfFgeUvs3Gmulh6B4tam",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "cvc_check": "unchecked",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2017,
            "fingerprint": "BKTw6Ixt61DE2nPW",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "173.10.171.149",
          "created": 1481225587,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 08 Dec 2016 19:33:07 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_9hxY5WsYp3YeDQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_uv6jMSQ54DycvURjLCpORYLW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2016-07-06'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_9hxY5WsYp3YeDQ",
          "object": "customer",
          "account_balance": 0,
          "created": 1481225586,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "tyrel_marquardt@grimes.org",
          "livemode": false,
          "metadata": {},
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hxY5WsYp3YeDQ/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_9hxY5WsYp3YeDQ/subscriptions"
          }
        }
  recorded_at: Thu, 08 Dec 2016 19:33:08 GMT
[...]
